.mystyle {
    font-family:Script;
    color:magenta;
    background-color:pink;
    text-align:center;
    border:solid;
}

.other {
    font-family:Arial;
    color:blue;
    background-color:yellow;
    text-align:center;
    border:solid;
}
