<!-- <button class="btn btn-primary">Submit</button> -->
<h1>{{title}}</h1>
<form class="container-fluid" #userForm="ngForm">
  {{userForm.value | json}}<br>
  {{userModel | json}}


  <div class="form-group">
    <label>Enter name: </label>
    <input class="form-control" type="text" name="name" [(ngModel)]="userModel.name" />
  </div>
  
  <div class="form-group">
    <label>Enter email-id: </label>
    <input class="form-control" type="email" name="email" [(ngModel)]="userModel.email" />
  </div>
  
  <div class="form-control">
    <label>Enter phone number: </label>
    <input class="form-control" type="tel" name="phone" [(ngModel)]="userModel.phone" />
  </div>
  <br><br>

  <div class="form-control">
    <label>Course topic: </label>
    <select class="custom-select" name="course" [(ngModel)]="userModel.course">
      <option>Select the course</option>
      <option *ngFor="let course of courses">{{course}}</option>
    </select>
  </div>
  <br><br>

  <div class="form-control">
    <label>Time preference: </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" value="morning" name="time" [(ngModel)]="userModel.time" />
      <label>Morning (09:00am-12:00pm)</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" value="evening" name="time" [(ngModel)]="userModel.time" />
      <label>Evening (05:00pm-08:00pm)</label>
    </div>
  </div>
  <br><br><br>

  <div class="form-control">
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe" />
      <label class="form-check-label">Send me offer</label>
    </div>
  </div>

  <br>
  <button class="btn btn-primary">Submit Form</button>
  <br>
</form>